---
import Button from '@starwind/button';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@starwind/card';
import Progress from '@starwind/progress';
import Stats from '@ui/Stats.astro';
import { Icon } from 'astro-icon/components';

import AppLayout from '@/layouts/AppLayout.astro';
import { formatCurrency, formatDate } from '@/lib/formatters';
import { mapRaffleListStats } from '@/lib/mappers';
import { createServerClient } from '@/lib/supabase/server';

const supabase = createServerClient({
  cookies: Astro.cookies,
  request: Astro.request,
});
const { data: raffles } = await supabase.from('raffles').select(`
    id, title, description, price, total_numbers,
    draw_date, status,
    numbers: raffle_numbers(
      number, status
    )
  `);

const STATS = mapRaffleListStats({
  raffles: raffles?.length || 0,
  sold:
    raffles?.reduce(
      (acc, raffle) =>
        acc + raffle.numbers.filter((n) => n.status === 'SOLD').length,
      0,
    ) || 0,
  total: raffles?.reduce((acc, raffle) => acc + raffle.total_numbers, 0) || 0,
  revenue:
    raffles?.reduce(
      (acc, raffle) =>
        acc +
        raffle.numbers.filter((n) => n.status === 'SOLD').length * raffle.price,
      0,
    ) || 0,
});
---

<AppLayout size="5xl">
  <hgroup class="space-y-1" slot="header">
    <h1 class="text-2xl font-extrabold lg:text-3xl">Panel de rifas</h1>
    <p class="text-primary-foreground/70 text-sm">
      Gestioná y seguí el progreso de todas tus rifas
    </p>
  </hgroup>
  <Button
    slot="header"
    variant="secondary"
    size="sm"
    href="/dashboard/raffle/create"
  >
    <Icon name="lucide:plus" class="size-4" />
    <span class="font-bold">Crear rifa</span>
  </Button>

  <article class="mb-8 grid grid-cols-2 gap-3 lg:grid-cols-4 lg:gap-4">
    {STATS.map((props) => <Stats {...props} />)}
  </article>

  <!-- <section class="flex flex-col sm:items-center sm:flex-row gap-3 mb-6">
    <InputGroup class="h-9">
      <InputGroupInput type="search" placeholder="Buscar rifa..." />
      <InputGroupAddon>
        <Icon name="lucide:search" />
      </InputGroupAddon>
    </InputGroup>

    <div class="flex gap-2">
      {["Todas", "Activas", "Finalizadas"].map((filter, index) => (
        <Button
          type="button"
          variant={index === 0 ? "primary" : "outline"}
          size="sm"
        >
          {filter}
        </Button>
      ))}
    </div>
  </section> -->

  <section class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
    {
      raffles?.map(
        ({
          id,
          title,
          description,
          price,
          total_numbers,
          numbers,
          draw_date,
          status,
        }) => (
          <a href={`/dashboard/raffle/${id}`} class="group">
            <Card size="sm" class="shadow-card group-hover:shadow-card-hover">
              <CardHeader class="flex">
                <hgroup class="min-w-0 flex-1">
                  <CardTitle class="group-hover:text-primary truncate font-bold transition-colors">
                    {title}
                  </CardTitle>
                  {description && (
                    <CardDescription class="text-muted-foreground line-clamp-1 text-xs!">
                      {description}
                    </CardDescription>
                  )}
                </hgroup>

                {/* <span
              class:list={[
                "text-xs font-bold px-3 py-1 rounded-full whitespace-nowrap",
                "bg-secondary/30 text-secondary-foreground"
              ]}
            >
              {
                status === "DRAFT" ? "Borrador" :
                status === "PUBLISHED" ? "Activa" :
                status === "CLOSED" ? "Finalizada" :
                status === "CANCELLED" ? "Cancelada" :
                "Desconocido"
              }
            </span> */}
              </CardHeader>
              <CardContent>
                <article class="mb-3 flex h-fit max-h-13 flex-wrap gap-0.5 overflow-hidden">
                  {Array.from(
                    { length: Math.min(total_numbers, 100) },
                    (_, i) => i,
                  )
                    .map(
                      (_, i) =>
                        numbers.find((n) => n.number === i)?.status === 'SOLD',
                    )
                    .map((bool) => (
                      <span
                        class:list={[
                          'h-2 w-2 rounded-full',
                          bool ? 'bg-raffle-sold' : 'bg-primary/20',
                        ]}
                      />
                    ))}
                </article>

                <div class="mb-3 flex items-center justify-between">
                  <span class="text-muted-foreground text-sm font-medium">
                    {numbers.length}/{total_numbers} vendidos
                  </span>
                  <span class="text-primary text-sm font-bold">
                    {Math.round((numbers.length / total_numbers) * 100)}%
                  </span>
                </div>

                <Progress
                  value={Math.round((numbers.length / total_numbers) * 100)}
                  variant="primary"
                  class="mb-4 h-1.5 rounded-full"
                />

                <div class="flex items-center justify-between border-t pt-3">
                  <span class="text-muted-foreground flex items-center gap-1 text-sm">
                    <Icon name="lucide:calendar-days" class="size-3.5" />
                    {formatDate(new Date(draw_date), {
                      day: '2-digit',
                      month: 'long',
                      year: 'numeric',
                    })}
                  </span>

                  <div class="flex items-center gap-1">
                    <Icon
                      name="lucide:dollar-sign"
                      class="text-accent size-3.5"
                    />
                    <span class="text-foreground font-extrabold">
                      {formatCurrency(price).replace(/^\D+/, '')}
                    </span>
                  </div>
                </div>
              </CardContent>
            </Card>
          </a>
        ),
      )
    }
  </section>
</AppLayout>
