---
import { Avatar, AvatarFallback, AvatarImage } from '@starwind/avatar';
import Button from '@starwind/button';
import {
  Dropdown,
  DropdownContent,
  DropdownItem,
  DropdownLabel,
  DropdownSeparator,
  DropdownTrigger,
} from '@starwind/dropdown';
import { Icon } from 'astro-icon/components';

import { createServerClient } from '@/lib/supabase/server';

const supabase = createServerClient({
  request: Astro.request,
  cookies: Astro.cookies,
});
const { data, error } = await supabase.auth.getUser();
if (!data || error) return;
const user = data.user;
---

<Dropdown>
  <DropdownTrigger asChild>
    <Button
      variant="ghost"
      size="sm"
      class:list={[
        'hover:text-primary-foreground hover:bg-primary-foreground/5',
        'border-primary-foreground/20 border',
        'bg-primary-foreground/10',
        'rounded-full',
      ]}
    >
      <Avatar class="size-7 border-0!">
        <AvatarImage
          src={user.user_metadata.avatar_url}
          alt={user.user_metadata.full_name}
        />
        <AvatarFallback
          class="bg-primary/50 text-primary-foreground top-0 left-0 size-7 text-xs font-bold"
          >MV</AvatarFallback
        >
      </Avatar>

      <span class="hidden text-sm font-medium sm:inline"
        >{user.user_metadata.full_name}</span
      >
      <Icon name="lucide:chevron-down" class="size-3.5 opacity-70" />
    </Button>
  </DropdownTrigger>
  <DropdownContent align="end" class="min-w-40">
    <DropdownLabel class="flex min-w-0 flex-col space-y-1">
      <span class="text-foreground truncate text-sm leading-none font-semibold"
        >{user.user_metadata.full_name}</span
      >
      <span class="text-muted-foreground truncate text-xs leading-none"
        >{user.email}</span
      >
    </DropdownLabel>

    <DropdownSeparator />

    <form action="/api/auth/logout" method="POST" class="flex flex-col">
      <DropdownItem
        as="button"
        type="submit"
        variant="destructive"
        class="flex items-center gap-2"
      >
        <Icon name="lucide:log-out" />
        Cerrar sesión
      </DropdownItem>
    </form>
  </DropdownContent>
</Dropdown>
